*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
    
}
#main{
    display: flex;
    width: 100%;
    height: 100%;
    background-color: rgba(172, 162, 162, 0.527);
}
#right{
    width: 30%;
    height: 100%;
  background-color: #333;
}
#centre{
    width: 50%;
    height: 100%;
   background-image: url(https://images.unsplash.com/photo-1638178220878-f7d2da5f709b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1yZWxhdGVkfDJ8fHxlbnwwfHx8fA%3D%3D&auto=format&fit=crop&w=600&q=60);
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
}
#left{
    width: 20%;
    height: 80%;
    background-image: url(https://images.unsplash.com/photo-1638178220947-2c1a15ef0d39?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
#text h1{
    position: absolute;
    top: 90px;
    left: 30px;
   font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 4px;
    font-size: 120px;
    line-height: 108px;
    font-weight: 500;

}
#left h1{
   position: relative;
   top: 500px;
   left: 32px;
   font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-transform: uppercase;
    color: rgb(8, 8, 8);
    letter-spacing: 1px;
    font-size: 50px;
   
  
}

#border{
    position: absolute;
    width: 100%;
    height: 40px;
    top: 350px;
   border-top: .3px solid rgba(219, 217, 217, 0.705);
   border-bottom: .3px solid rgba(214, 211, 211, 0.678);

}
#border #one {
    position: relative;
    top: 15px;
    left: 30px;
    font-size: 5px;
    color: rgb(241, 240, 240);
    letter-spacing: 6px;
    font-weight: 500;
    text-transform: uppercase;
}
#border #two {
    position: relative;
    top: 10px;
    left: 1050px;
    font-size: 5px;
    color: rgb(250, 245, 245);
    letter-spacing: 5px;
    font-weight: 500;
    text-transform: uppercase;
}

#circle{
    position: absolute;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    top: 180px;
    left: 910px;
   /* background-color: darkblue; */
    border-top: .3px solid rgba(112, 107, 107, 0.74);
   border-bottom: .3px solid rgba(112, 107, 107, 0.74);
   border-left: .3px solid rgba(112, 107, 107, 0.74);
   border-right: .3px solid rgba(112, 107, 107, 0.74);
   transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
    transform: rotate(90deg);
    
}

#circle h6{
    position: absolute;
    top: 55px;
    left: 38px;
   font-size: 6px;
   color: rgba(34, 32, 32, 0.527);
   letter-spacing: 3px;
   
   text-transform: uppercase;
   font-family:Arial, Helvetica, sans-serif;
    
}

#text h2{
    position: absolute;
    top: 455px;
    left: 35px;
   font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 1px;
    font-size: 50px;
    line-height: 50px;
    font-weight: 100;

}
#centre h1{
    position: relative;
    top: 475px;
    left: -12px;
   font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 4px;
    font-size: 70px;
    line-height: 108px;
    font-weight: 500;

}
#text h3{
    position: absolute;
    top: 425px;
    left: 35px;
   font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-transform: uppercase;
   color: transparent;
   -webkit-text-stroke: .1px rgba(14, 13, 13, 0.925);
    
    font-size: 30px;
    
  
    

}
#text h4{
    position: absolute;
    top: 20px;
    left: 390px;
   font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
   color: rgba(245, 243, 243, 0.986);
   
    font-size: 12px;
    letter-spacing: 2px;
  
    

}
#text h5{
    position: absolute;
    top: 20px;
    left: 922px;
  font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
   color: rgba(228, 222, 222, 0.993);
   
    font-size: 12px;
    letter-spacing: 2px;
    

}
#text h6{
    position: absolute;
    top: 20px;
    left: 32px;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-transform: uppercase;
   color: rgba(228, 222, 222, 0.993);
   font-weight: 100;
     font-size: 20px;
   letter-spacing: 2px;
    

}
#left h2{
    position: absolute;
    top: 10px;
    right: 32px;
    color: #fff;
    line-height: 5px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
#border h2{
    position: relative;
    top: 1px;
    left: 580px;
    font-size: 20px;
    color: rgba(226, 231, 224, 0.842);
    letter-spacing: 25px;
    /* font-weight: 500; */
    text-transform: uppercase;
    font-family: 'Anurati';
}
#circle:hover{
    background-color: #0e0d0dc4;
    cursor: pointer;
    transform: scale(1.1) rotate(360deg);


}
#circle:hover h6{
    color: rgb(192, 186, 186);
}
#text h1:hover{
    -webkit-text-stroke: 1px black;
   color:black; 
   color: transparent;
}
#left h1:hover{
    -webkit-text-stroke: 1px black;
    color: transparent;

}
#border:hover{
    background-color: rgba(0, 0, 0, 0.438);
    cursor: pointer;

}